<div class="row" id='inner-header'>
  <div class='span6 sub-header'>
    <h2>
      Timetable for Term <%= @term.no %>
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='header-actions'>
      <%= back_button("timetable", year_timetable_slots_path(@year)) %>
    </div>
  </div>
</div>

<hr>

<table class="table table-bordered">
  <tr>
    <th></th>
    <% Day.all.each do |d| %>
      <th>
        <%= d.name %>
      </th>
    <% end %>
  </tr>

  <% 1.upto(9) do |time| %>
    <tr>
      <td>
        <%= time %>
      </td>
      <% Day.all.each do |d| %>
        <td>
          <% if @slots[@time_slots.where(:day_id => d.id, :start_hour => time).first].present? %>
            <% @slots[@time_slots.where(:day_id => d.id, :start_hour => time).first].each_pair do |course, course_allocs| %>
              <%= course.code %>
              <ul>
                <% course_allocs.each_pair do |room, room_allocs| %>
                  <li>
                    <%= room.no %> (<%= get_week_ranges(room_allocs.map { |r| r.week.no } ) %>)
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
