<div class="row" id='inner-header'>
  <div class='span6 sub-header'>
    <h2>
      Lecture Courses
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='header-actions'>
      <%= back_button(@year.no, year_path(@year)) %>
    </div>
  </div>
</div>

<hr>

<% if @courses.empty? %>
  <div class="alert alert-block">
    No courses to show.
  </div>
<% else %>
  <ul class='nav nav-pills nav-stacked'>
    <% @courses.each do |c| %>
      <li>
        <%= link_to "#{c.code} - #{c.title}", year_lecture_course_path(@year, c) %>
      </li>
    <% end %>
  </ul>
<% end %>

<hr>

<%= render :partial => 'import_form' %>

<hr>

<%= render :partial => 'requirements/import_form' %>

<hr>

<%= render :partial => 'lecturers/import_form' %>
