<h1>
  <%= @course.code %> - <%= @course.title %>
</h1>

<div class="row">
  <div class="span6">
    <% if @requirements.empty? %>
      <h3>
        There are no requirements for this course.
      </h3>
    <% else %>
      <h3>
        Option for:
      </h3>
      <% @requirements.group_by(&:required).each do |required, classes| %>
        <h4>
          <%= required %>
        </h4>
        <ul class='nav nav-pills nav-stacked'>
          <% classes.each do |c| %>
            <li>
              <%= link_to "#{c.degree_class.degreeyr} - #{c.degree_class.title}", year_degree_class_path(@year, c.degree_class) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class="span6">
    <% if @lecturers.empty? %>
      <h3>
        There are no staff members for this course.
      </h3>
    <% else %>
      <h3>
        Taught by:
      </h3>
      <% @lecturers.group_by(&:role).each do |role, staff| %>
        <h4>
          <%= role %>
        </h4>
        <ul class='nav nav-pills nav-stacked'>
          <% staff.each do |s| %>
            <li>
              <%= link_to "#{s.staff_member.login} - #{s.staff_member.full_name}", year_staff_member_path(@year, s.staff_member) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
