<h1>
  <%= @course.code %> - <%= @course.title %>
</h1>

<div class="row">
  <div class="span6">
    <% if @requirements.empty? %>
      <h3>
        There are no requirements for this course.
      </h3>
    <% else %>
      <h3>
        Option for:
      </h3>
      <% @requirements.each do |r| %>
        <h4>
          <%= r.degree_class.degreeyr %> - <%= link_to r.degree_class.title, r.degree_class %> (<%= r.required %>)
        </h4>
      <% end %>
    <% end %>
  </div>

  <div class="span6">
    <% if @lecturers.empty? %>
      <h3>
        There are no staff members for this course.
      </h3>
    <% else %>
      <h3>
        Taught by:
      </h3>
      <% @lecturers.each do |l| %>
        <h4>
          <%= l.staff_member.login %> - <%= link_to l.staff_member.full_name, l.staff_member %> (<%= l.role %>)
        </h4>
      <% end %>
    <% end %>
  </div>
</div>
