<h1>
  <%= @course.code %> - <%= @course.title %>
</h1>

<div class="row">
  <div class="span6">
    <% if @requirements.empty? %>
      <h3>
        There are no requirements for this course.
      </h3>
    <% else %>
      <h3>
        Option for:
      </h3>
      <% @requirements.group_by(&:required).each do |required, classes| %>
        <h4>
          <%= required %>
        </h4>
        <% classes.each do |c| %>
          <h5>
            <%= c.degree_class.degreeyr %> - <%= link_to c.degree_class.title, c.degree_class %>
          </h5>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="span6">
    <% if @lecturers.empty? %>
      <h3>
        There are no staff members for this course.
      </h3>
    <% else %>
      <h3>
        Taught by:
      </h3>
      <% @lecturers.group_by(&:role).each do |role, staff| %>
        <h4>
          <%= role %>
        </h4>
        <% staff.each do |s| %>
          <h5>
            <%= s.staff_member.login %> - <%= link_to s.staff_member.full_name, s.staff_member %>
          </h5>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
