<h1><%= @course.code %> - <%= @course.title %></h1>

<% if @requirements.empty? %>
  There are no requirements for this course.
<% else %>
  Option for:
  <% @requirements.each do |r| %>
    <h3><%= r.degree_class.degreeyr %> - <%= link_to r.degree_class.title, r.degree_class %> (<%= r.required %>)</h3>
  <% end %>
<% end %>
