<h1>
  <%= @staff_member.login %> - <%= @staff_member.full_name %>
</h1>

<% if @lecturers.empty? %>
  <h3>
    There are no courses for this staff member.
  </h3>
<% else %>
  <h3>
    Courses:
  </h3>
  <% @lecturers.group_by(&:role).each do |role, staff| %>
    <h4>
      <%= role %>
    </h4>
    <% staff.each do |s| %>
      <h5>
        <%= s.lecture_course.code %> - <%= link_to s.lecture_course.title, year_lecture_course_path(@year, s.lecture_course) %>
      </h5>
    <% end %>
  <% end %>
<% end %>
