<h1>
  <%= @staff_member.login %> - <%= @staff_member.full_name %>
</h1>

<% if @lecturers.empty? %>
  <h3>
    There are no courses for this staff member.
  </h3>
<% else %>
  <h3>
    Lectures:
  </h3>
  <% @lecturers.each do |l| %>
    <h4>
      <%= l.lecture_course.code %> - <%= link_to l.lecture_course.title, l.lecture_course %> (<%= l.role %>)
    </h4>
  <% end %>
<% end %>
