<%= render :partial => 'hide_menu' %>

<div class="row" id="inner-header">
  <div class='span6 sub-header'>
    <h2>
      Clash Selection
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='header-actions'>
      <%= back_button(@year.no, year_path(@year)) %>
    </div>
  </div>
</div>

<hr>

<%= form_tag update_clashes_path(@year), :method => :put do %>

  <%= hidden_field_tag 'year_id', @year.no %>

  <div class='term-clashes'>
    <h4>Term 1</h4>
    <%= render :partial => 'term_clashes', :locals => { :courses => @courses.in_term(1) } %>
  </div>

  <div class='term-clashes'>
    <h4>Term 2</h4>
    <%= render :partial => 'term_clashes', :locals => { :courses => @courses.in_term(2) } %>
  </div>

  <div class="form-actions">
    <%= submit_tag "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
