<div class="row" id="inner-header">
  <div class='span6 sub-header'>
    <h2>
      Clash Selection
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='header-actions'>
      <div class='btn-group'>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Hide Courses
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @courses.in_term(1).each do |c| %>
            <li>
              <%= link_to c.display_name, "#", :id => "hide-#{c.code.parameterize}", :class => 'hide-course' %>
            </li>
          <% end %>

          <li class="divider"></li>

          <% @courses.in_term(2).each do |c| %>
            <li>
              <%= link_to c.display_name, "#", :id => "hide-#{c.code.parameterize}", :class => 'hide-course' %>
            </li>
          <% end %>
        </ul>
      </div>

      <%= link_to year_path(@year), :class => "btn btn-danger" do %>
        <i class='icon-chevron-left'></i> Back to <%= @year.no %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<%= form_tag update_clashes_path(@year), :method => :put do %>

  <%= hidden_field_tag 'year_id', @year.no %>

  <div class='term-clashes'>
    <h4>Term 1</h4>
    <%= render :partial => 'term_clashes', :locals => { :courses => @courses.in_term(1) } %>
  </div>

  <div class='term-clashes'>
    <h4>Term 2</h4>
    <%= render :partial => 'term_clashes', :locals => { :courses => @courses.in_term(2) } %>
  </div>

  <div class="form-actions">
    <%= submit_tag "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
