<%= form_for [@year, @room], :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', :target => @room %>
    <div class="control-group">
      <%= f.label :no, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :no, :disabled => params[:action] == 'edit' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :capacity, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :capacity %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :room_type, :class => "control-label" %>
      <div class="controls">
        <%= f.select :room_type, room_type_options(@room) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :size, :class => "control-label" %>
      <div class="controls">
        <%= f.select :size, room_size_options(@room) %>
      </div>
    </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
