<%= form_for(@room) do |f| %>
  <%= render 'shared/error_messages', :target => @room %>
  <p>
    <%= f.label :no %>
    <%= f.text_field :no, :disabled => params[:action] == 'edit' %>
  </p>
  <p>
    <%= f.label :capacity %>
    <%= f.text_field :capacity %>
  </p>

  <%= f.submit %>
<% end %>
