<h4>
  Term <%= term.no %>
</h4>

<table class="table table-bordered">
  <tr>
    <th></th>
    <% Day.all.each do |d| %>
      <th>
        <%= d.name %>
      </th>
    <% end %>
  </tr>

  <% 1.upto(9) do |time| %>
    <tr>
      <td>
        <%= time %>
      </td>
      <% Day.all.each do |d| %>
        <td>
          <% if allocs[@time_slots.where(:day_id => d.id, :start_hour => time).first].present? %>
            <% allocs[@time_slots.where(:day_id => d.id, :start_hour => time).first].each_pair do |course, course_allocs| %>
              <%= course.code %>
              <ul>
                <% course_allocs.each_pair do |type, type_allocs| %>
                  <li>
                    <%= type.capitalize %> (<%= get_week_ranges(type_allocs.map { |t| t.week.no }.sort ) %>)
                  </li>
                <%  end %>
              </ul>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
