<div class="row" id='inner-header'>
  <div class='span6 sub-header'>
    <h2>
      Rooms
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='header-actions'>
      <%= link_to "Create Room", new_year_room_path(@year), :class => "btn btn-primary" %>
      <%= back_button(@year.no, year_path(@year)) %>
    </div>
  </div>
</div>

<hr>

<% if @rooms.empty? %>
  <div class="alert alert-block">
    No rooms to show.
  </div>
<% else %>
  <table class="table table-striped">
    <tr>
      <th>
        Room
      </th>
      <th>
        Capacity
      </th>
      <th> </th>
    </tr>

    <% @rooms.each do |r| %>
      <tr>
        <td>
          <%= r.no %>
        </td>
        <td>
          <%= r.capacity %>
        </td>
        <td>
          <%= link_to "Edit", edit_year_room_path(@year, r), :class => "btn btn-primary" %>
          <%= link_to "Delete", year_room_path(@year, r), :method => :delete, :data => { :confirm => "Are you sure you wish to delete this room?" }, :class => "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
