<div class="accordion" id="course-accordion-container">
  <div class="course accordion-group <%= investigation_class(course) %>" id="<%= course.code.parameterize %>">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#course-accordion-container" href="#collapse-<%= course.code.parameterize %>">
      <h4>
        <%= "#{course.code} - #{course.title}" %>
      </h4>
    </a>

    <div id="collapse-<%= course.code.parameterize %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <% if course.has_multiple_lecturers? %>
          <label class="checkbox">
            <%= check_box_tag "course_weeks[#{course.code}][merged_lecturers]", true, course.merged_lecturers, :class => "merged-lecturers", :id => "merge" %>
            Schedule lecturers concurrently?
          </label>
        <% end %>

        <div class="scheduling-type">
          <label class="control-label">
            Scheduling type
          </label>
          <div class="controls">
            <%= select_tag "course_weeks[#{course.code}][scheduling_type]", scheduling_type_options(course), :include_blank => true, :class => "input-medium" %>
          </div>
        </div>

        <table>
          <%= render :partial => 'course_header' , :locals => { :course => course } %>
          <%= render :partial => 'course_single' , :locals => { :course => course } %>
          <% if course.has_multiple_lecturers? %>
            <%= render :partial => 'course_merged' , :locals => { :course => course } %>
          <% end %>
          <%= render :partial => 'tutorial_hours', :locals => { :course => course } %>
          <%= render :partial => 'lab_hours'     , :locals => { :course => course } %>
          <%= render :partial => 'course_summary', :locals => { :course => course } %>
        </table>
      </div>
    </div>
  </div>
</div>
