<div class="row" id="inner-header">
  <div class='span6 sub-header'>
    <h2><%= @year.no %></h2>
  </div>
  <div class='span6 sub-header'>
    <div class="header-actions">
      <%= link_to "Edit Year", edit_year_path(@year), :class => "btn btn-primary" %>
      <%= back_button("years", years_path) %>
    </div>
  </div>
</div>

<hr>

<div class='row inner-container'>
  <div class="span6 sub-container">
    <h4>
      Imported Data
    </h4>

    <ul class='nav nav-pills nav-stacked models'>
      <li>
        <%= link_to "Lecture Courses", year_lecture_courses_path(@year) %>
      </li>
      <li>
        <%= link_to "Degree Classes", year_degree_classes_path(@year) %>
      </li>
      <li>
        <%= link_to "Staff Members", year_staff_members_path(@year) %>
      </li>
      <li>
        <%= link_to "Rooms", year_rooms_path(@year) %>
      </li>
    </ul>
  </div>

  <div class="span6 sub-container">
    <h4>Term Dates</h4>
    <ul>
      <% @terms.each do |t| %>
        <li>
          <%= "Term #{t.no}: #{t.weeks.size} weeks starting #{start_date(t)}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<hr>

<h4>
  Preprocessing
</h4>

<ul class='nav nav-pills nav-stacked models'>
  <li>
    <%= link_to "Select Course Weeks", year_course_weeks_path(@year) %>
  </li>
  <li>
    <%= link_to "Select Clashes", year_clashes_path(@year) %>
  </li>
</ul>

<hr>

<h4>
  Processing
</h4>

<ul class='nav nav-pills nav-stacked models'>
  <li>
    <% if @year.timetable_generated? %>
      <%= link_to "Generate Timetable", year_generate_timetable_path(@year), :method => 'put', :confirm => "This will overwrite any previous timetable data. Are you sure?" %>
      I have a timetable
    <% else %>
      <%= link_to "Generate Timetable", year_generate_timetable_path(@year), :method => 'put' %>
    <% end %>
  </li>
</ul>
