<div class="row" id='degree-header'>
  <div class='span6 sub-header'>
    <h2>
      <%= @degree.degreeyr %> - <%= @degree.title %>
    </h2>
  </div>
  <div class='span6 sub-header'>
    <div class='actions'>
      <%= link_to year_path(@year), :class => "btn btn-danger" do %>
        <I class='icon-chevron-left'></i> Back to <%= @year.no %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<% if @requirements.empty? %>
  <h3>
    There are no requirements for this degree.
  </h3>
<% else %>
  <h3>
    Options:
  </h3>
  <% @requirements.group_by(&:required).each do |required, classes| %>
    <h4>
      <%= required %>
    </h4>
    <ul class='nav nav-pills nav-stacked'>
      <% classes.each do |c| %>
        <li>
          <%= link_to "#{c.lecture_course.code} - #{c.lecture_course.title}", year_lecture_course_path(@year, c.lecture_course) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
