<h1>
  <%= @degree.degreeyr %> - <%= @degree.title %>
</h1>

<% if @requirements.empty? %>
  <h3>
    There are no requirements for this degree.
  </h3>
<% else %>
  <h3>
    Options:
  </h3>
  <% @requirements.group_by(&:required).each do |required, classes| %>
    <h4>
      <%= required %>
    </h4>
    <% classes.each do |c| %>
      <h5>
        <%= c.lecture_course.code %> - <%= link_to c.lecture_course.title, year_lecture_course_path(@year, c.lecture_course) %>
      </h5>
    <% end %>
  <% end %>
<% end %>
