<h1>
  <%= @degree.degreeyr %> - <%= @degree.title %>
</h1>

<% if @requirements.empty? %>
  <h3>
    There are no requirements for this degree.
  </h3>
<% else %>
  <h3>
    Options:
  </h3>
  <% @requirements.each do |r| %>
    <h4>
      <%= r.lecture_course.code %> - <%= link_to r.lecture_course.title, r.lecture_course %> (<%= r.required %>)
    </h4>
  <% end %>
<% end %>
