<!DOCTYPE html>
<html>
  <head>
    <title>DoCTOR Prototype</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div id="main-wrapper">
      <div id="main-sections-wrapper">
        <div id="main-section-wrapper" class="container">
          <div class="row">
            <div class="span12">
              <%= render 'shared/flash_messages' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
